body {
background-color: #DEDBD2;
color: #4A5759;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    max-width: 60%;
}

/* comment comment comment */