:root {
    --font: "Oswald", sans-serif;
    --background: rgb(164, 216, 236);
    --blue-color: rgba(78, 128, 255, 0.979);
}
/* use variables for custom colors, fonts, anything repeating 
Also useful for gradient and clip path: https://ishadeed.com/article/practical-css-variables/
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: var(--font);
}

.one {
    display: grid;
    max-width: 1000px;
    background-color: rgb(189, 187, 187);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 1rem;
    margin: 50px auto;
}

.item {
    background: white;
    padding: 1rem;
}

.item:first-child {
    background: rgb(72, 161, 72);
    grid-column: 1 / span 4;
}

.item:nth-child(2) {
    background: var(--blue-color);
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
}

.item:last-child {
    background: rgb(255, 255, 109);
    grid-column: 1 / span 4;
}

.two {
    display: grid;
    grid-template-areas:
    "head head head head head head"
    "left main main main main right"
    "left main main main main right"
    "left main main main main right"
    "left main main main main right"
    "left main main main main right"
    "left main main main main right"
    "left main main main main right"
    "foot foot foot foot foot foot"
    ;
    max-width: 1000px;
    margin: 0 auto;
    gap: 0.4rem;
    grid-auto-rows: 1fr;
}

.header {
    grid-area: head;
    background: rgb(72, 161, 72);
    padding: 1rem;
}

.left {
    grid-area: left;
    background: var(--blue-color);
    padding: 1rem;
}

.main {
    grid-area: main;
    background: pink;
    padding: 1rem;
}

.aside {
    grid-area: right;
    background: rgb(255, 255, 109);
    padding: 1rem;
}

.footer {
    grid-area: foot;
    background: rgb(255, 103, 103);
    padding: 1rem;
}