* {
    overscroll-behavior: none;
}

body {
    background: linear-gradient(
        -45deg,
        #ee7752,
        #e73c7e,
        #23a6d5,
        #23d5ab
    );
    min-height: 100vh;
    background-size: 400%;
    animation: move_background 30s infinite;
}

@keyframes move_background {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.fifth-task {
    background-color: goldenrod;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.fifth-task h3 {
    text-align: center;
    padding: 25px;
}

/* left side */
.fifth-task h3::before {
    content: "";
    /* must define content even if empty for sudo elements */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 200px;
    border-left: 3px solid #fc5185;
    transition: all 1s;
}

.fifth-task:hover h3::before {
    bottom: 0;
}

/* right side */
.fifth-task h3::after {
    content: "";
    /* must define content even if empty for sudo elements */
    display: block;
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    border-right: 3px solid #fc5185;
    transition: all 1s;
}

.fifth-task:hover h3::after {
    top: 0;
}

/* top side */
.fifth-task::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 200px;
    border-top: 3px solid #fc5185;
    transition: all 1s;
}

.fifth-task:hover::before {
    right: 0;
}

/* bottom side */
.fifth-task::after {
    content: "";
    display: block;
    position: absolute;
    left: 200px;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid #fc5185;
    transition: all 1s;
}

.fifth-task:hover::after {
    left: 0;
}