body {
    background-color: #DEDBD2;
    font-family: 'Montserrat','Inconsolata';
    font-size: 18px;
    color: #212525;
    margin-top: -18px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    font-family: 'Montserrat';
}

p {
    font-family: 'Inconsolata';
    font-size: 13px;
}

header {
    background: #4A5759;
    color: #F7E1D7;
    height: 80px;
    padding-top: 10px;
    /*
    this clip path code for slanted design is too buggy atm. will come back later.
    clip-path: polygon(0 0, 100% 0, 100% 60px, 0 100%);
    */
}

header li {
    display: inline-block;
    padding-inline: 8px;
}

header td {
    vertical-align: top;
}

section {
    background: #B0C4B1;
    margin-bottom: 20px;
    padding: 30px;
    /*
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    */
}

button {
    background-color: #212525;
    color: #EDAFB8;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}

img {
    max-width: 50vw;
}

.heroSection {
margin-top: 0px;
margin-bottom: 100px;
padding: 30px;
padding-bottom: 50px ;
/*
clip-path: polygon(0 30px, 100% 0, 100% 90%, 0 100%);
*/
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat'),
    url('fonts/Montserrat.ttf')
    format('truetype');
}

@font-face {
    font-family: "Inconsolata";
    src: local('Inconsolata'),
    url('fonts/Inconsolata.ttf')
    format('truetype');
}