* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 10000px;
}

section {
    background: #bebebe;
    width: 100vw;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
}

.item {
    width: 200px;
    height: 200px;
    background: skyblue;
    border-radius: 5px;
    padding: 1rem;
}

#section-a .item:first-of-type {
    background-color: rgb(21, 63, 80);
    position: relative;
    z-index: 2;
}
/* ...-of-type for same class, ...-child for child */

#section-a .item:last-of-type {
    background-color: rgb(29, 154, 204);
    position: relative;
    top: -100px;
    left: 100px;
    z-index: 3;
}

#section-b .item {
    position: fixed;
    top: 0;
    right: 0;
}

#section-c .item {
    position: absolute;
    left: 80%;
    bottom: 10%;
}

#section-d .item {
    position: sticky;
    top: 100px;
}